<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Package visibility for Android 11+ to interact with target apps -->
    <queries>
        <package android:name="com.google.android.youtube" />
        <package android:name="com.instagram.android" />
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/shorts_blocker_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/shorts_blocker_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShortsBlockerNative">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".ShortBlockAccessibilityService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="true"
            android:directBootAware="true">

            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/short_block_accessibility_config" />
        </service>

    </application>

</manifest>
